body {
    @include box-sizing(border-box);
    min-height: 100vh;
    background-color: $negro;
    font-family: $fuente_principal;
    color: $gris_claro;
    @include tablet() {
        background-color: unset;
        background-image: url(../img/netflix-background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

*, *::before, *::after {
    @include box-sizing(inherit);
}

a {
    color: $gris_claro;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.contenedor {
    margin: 0 auto;
    width: 90%;
}

.alerta {
    display: block;
    margin-bottom: .5rem;
    padding: .2rem;
    color: $secundario;
    font-size: .8rem;
    text-align: center;
}

input.no-valido {
    border-bottom: 2px solid $secundario !important;
}

.logotipo {
    margin-top: 1.4rem;
    margin-left: 3%;
    max-width: 160px;
    @include tablet() {
        margin-top: 1.6rem;
    }
}

.formulario-login {
    @include tablet() {
        background-color: rgba(0, 0%, 0%, .85);
        max-width: 430px;
        margin: 2rem auto 4rem; 
        padding: 2rem 4rem;
    }
}

form {
    legend {
        margin: 2rem 0;
        color: $blanco;
        font-size: 2rem;
        font-weight: bold;
    }

    .campo {
        position: relative;
        display: flex;
        margin-bottom: .8rem;

        span {
            position: absolute;
            top: 1rem;
            right: 1rem;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
        }

        label {
            position: absolute;
            top: 1.1rem;
            left: 1rem;
            font-size: .9rem;
            transition: all 200ms ease;

            &.valido {
                font-size: .6rem;
                top: .5rem;
            }
        }

        input {
            flex: 1;
            border: none;
            border-radius: $radius;
            padding: 1.3rem 1rem .7rem;
            background-color: $gris;
            color: $blanco;

            &:focus {
                outline: none;
                background-color: $gris_oscuro;

                + label {
                    font-size: .6rem;
                    top: .5rem;
                }
            }
        }
    }

    .submit {
        display: flex;
        margin-top: 2rem;
        
        input[type="submit"] {
            @include boton($primario, $blanco);
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .acciones {
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
        padding: .5rem 0 8rem;

        label, a {
            font-size: .8rem;
            text-decoration: none;
        }

        .recuerdame {
            display: flex;
            align-items: center;
            gap: .3rem;
        }
    }
}

.contenido-inferior {
    padding-bottom: 1rem;
    @include tablet() {
        padding-bottom: 0;
    }

    .login-fb {
        display: flex;
        align-items: center;
        gap: .5rem;

        i {
            color: #0078F7;
            font-size: 1.2rem;
        }

        a {
            font-size: .85rem;
        }
    }
    
    .nuevo-usuario {
        display: flex;
        margin-top: 1rem;
        font-size: 1rem;

        a {
            margin-left: .5rem;
            color: $blanco;
            font-weight: bold;
        }
    }
}

.site-footer {
    border-top: 1px solid $gris_oscuro;
    padding: 2rem 0 4rem;
    @include tablet() {
        border: none;
        padding: 1rem 3rem;
        background-color: rgba(0, 0%, 0%, .85);
    }

    .contenedor {
        @include tablet() {
            max-width: 50%;
        }
    }

    .menu-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include desktop() {
            max-width: 90%;
        }

        a {
            flex: 0 0 auto;
            margin-right: 2rem;
            padding: .5rem 0;
            font-size: .8rem;

            &:last-of-type() {
                margin-right: 0;
            }
        }
    }

    select {
        margin-top: 1rem;
        border: 1px solid $gris_oscuro;
        border-radius: $radius;
        padding: 1rem 3rem;
        background-color: $negro;
        color: $gris_claro;
        appearance: none;
        font-size: .8rem;
    }
}