// Principal
$fuente_principal: Arial, Helvetica, sans-serif;

// Sizes
$telefono: 480px;
$tablet: 768px;
$desktop: 1212px;

// Colores
$primario: #e50914;
$secundario: #e87c03;

$gris: #323232;
$gris_claro: #8c8c8c;
$gris_oscuro: #454545;

$blanco: #fff;
$negro: #000;

// Extra 
$radius: 5px;