//********************************* 
//* MIXINS 
//*********************************
@mixin btn
(
    $bg-color,
    $color
) 
{
    display: block;
    inline-size: 100%;
    padding-block: 1em;
    font: 
    {
        size: 1.6rem;
        weight: bold;
    }
    text: 
    {
        align: center;
        decoration: none;
    }
    border: 
    {
        width: 0;
        radius: .25em;
    }
    background-color: $bg-color;
    color: $color;
    transition: all 200ms ease;

    &:hover {
        background-color: color.adjust($bg-color, $lightness: -5%);
    }
}