//********************************* 
//* STATES 
//*********************************
.alert {
    display: block;
    margin-block: .5em;
    padding: .2em;
    font-size: 1.2rem;
    text-align: center;
    color: map.get(abs.$clr, 'secundary-100');
}

.field__input.is-invalid {
    border-block-end: .2em solid map.get(abs.$clr, 'secundary-100') !important;
}

.is-hidden { display: none; }